/* carousel container */
#carousel {
  font-family: 'Raleway', sans-serif;
  background: url('https://s3.amazonaws.com/awesomeCarousel/kitty.jpg') no-repeat center; /* setting fallback image */
  background-size: cover;
}

/* carousel slides */
#carousel ul {
  padding: 0px;
  list-style-type: none;
  height: 400px; /* set height for carousel */
  position: relative;
}

#carousel ul li {
  display: none;
}

#carousel ul li.active {
  display: block;
}

#carousel ul li p {
  font-size: 2em;
  background: #df95cb;
  opacity: .85;
  color: cornsilk;
  padding: 10px;
  position: absolute;
}

/* content positioning classes */
p.full-width {
  left: 0;
  right: 0;
}

p.top {
  top: 0;
}

p.bottom {
  bottom: 0;
}

p.left {
  left: 0;
}

p.right {
  right: 0;
}

/* dot navigation styles */
ul.dot-nav {
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

ul.dot-nav li {
  background: #95dfa9; /* to change dot color */
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  margin: 0px 5px;
  border: 3px solid transparent;
}

ul.dot-nav li:hover, ul.dot-nav li.active {
  background: white; /* to change dot color */
  border: 3px solid #95dfa9; /* to change dot color */
  border-radius: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

/* mobile */
@media all and (max-width: 600px) {
  p.top, p.bottom, p.left, p.right {
    left: 0;
    right: 0;
  } 
}






