#carousel {
  font-family: 'Raleway', sans-serif;
}

#carousel ul {
  padding: 0px;
  list-style-type: none;
}

/* dot navigation styles */
ul.dot-nav {
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

ul.dot-nav li {
  background: #95dfa9; /* to change dot color */
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  margin: 0px 5px;
  border: 3px solid transparent;
}

ul.dot-nav li:hover, ul.dot-nav li.active {
  background: white; /* to change dot color */
  border: 3px solid #95dfa9; /* to change dot color */
  border-radius: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}