html, body {
  font-family: 'Raleway', sans-serif;
}

strong {
  text-transform: uppercase;
}

.container {
  margin: 0px auto;
  padding: 0px 15px;
}

.content {
  padding: 50px;
  line-height: 30px;
}

/* mobile */
@media all and (max-width: 600px) {
  h1 {
    font-size: 1.6em;
  }

  .content {
    padding: 10px 0px;
  }
}